/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
}

/* a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
} */

/* UTILITIES */

.app {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
  padding: 20px;
}

.btn {
  text-transform: none;
}

.entity-list {
  text-align: center;
  max-width: 40vw;
}

.notification {
  margin-bottom: 2vh;
  border: solid white 1px;
  padding: 5px;
}

.tag-list li {
  display: inline;
  margin: 5px;
}

.add-entity {
  margin-top: 2vh;
}

.footer {
  flex-shrink: 0;
}

.footer li {
  display: inline;
}

.contact {
  margin-top: 1rem;
  margin-left: 1rem;
}
