/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: Candara, Arial, Helvetica, sans-serif;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #ffffff;
  text-decoration: none;
}

/* UTILITIES */

.app {
  height: 100vh;
  position: relative;
}

.btn {
  text-transform: none;
}

.entity-list {
  text-align: center;
  max-width: 40vw;
}

.notification {
  margin-bottom: 2vh;
  border: solid white 1px;
  padding: 5px;
}

.tag-list li {
  display: inline;
  margin: 5px;
}

.add-entity {
  margin-top: 2vh;
}

.entity-path-input {
  display: none;
}

.href-button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0 15px;
  cursor: pointer;
}
